@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Signika:wght@300&display=swap');
body{
	margin: 0px;
	padding: 0px;
	font-family: 'Signika', sans-serif;
	
}


ul{
	margin: 0px;
	padding: 15px;
	list-style-type: none;
	background-color: DarkSlateGrey;
	
}

li{
	display: inline;

}

li a{
	text-decoration: none;
	color: white;
	padding: 16px;
	text-shadow:3px 3px 5px gray;

}

li a:hover:not(.active) {
	background-color: Orange;
    color: black;
	text-shadow:3px 3px 5px orange;
    	
}

.active{
	background-color: Orange;
}

.menu-login{
	float: right;
}
div.conteudo{
	min-height: 500px;
	background-color: #111;
	padding: 10px;
	color: #fff;
}

div.conteudo h1{
	text-align: center;
	text-transform: uppercase;
	text-shadow:3px 3px 5px green;
	font-size: 60px;
	transition: text-shadow 1s linear infinite;
	animation: animate 3s linear infinite;
}

div.conteudo p{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 60px;
	font-size: 18px;
	text-align: justify;
	text-indent: 75px;
	letter-spacing: 5px;
	text-shadow:3px 3px 5px gray;
	line-height: 2;
}

div.conteudo-img{
	background-image: url('../img/giff.gif');
	background-attachment: fixed;
	display: flex;
	justify-content: center;
}

div.card{
	background-color: rgba(47,79,79,0.80);
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	min-width: 20%;
	min-height: 100px;
	text-align: center;
	border-radius: 50px;
	border: solid 2px yellow;
	
	
}

div.card h2{
	color: rgb(245,245,245);
	text-align: center;
	text-transform: uppercase;
	text-shadow:3px 3px 5px orange;

}


div.card img{
	background-color: rgb(255,255,255);
	border-radius: 50px;
	
}

div.card h3{
	color: rgb(245,245,245);
	text-shadow:3px 3px 5px rgb(255,140,0);
}

div.card a{
	background-color: rgba(123,104,238,0.5);
	text-decoration: none;
	color: lime;
	padding: 10px;
	border-radius: 20px;
	transition: text-shadow 1s linear infinite;
	animation: animate 3s linear infinite;
}

div.card a:hover{
	background-color: Orange;
    color: black;
	text-shadow:3px 3px 5px rgb(255,140,0);
}
@keyframes animate{
	0%{
		opacity: 0.1;
	}
	
	50%{
		opacity: 0.8;
	}
	
	100%{
		opacity: 0.1;
	}
}

/*@keyframes teste{
	to{
	text-shadow:3px 3px 5px red;
	
	}
	
}/*
