body{
	margin: 0;
	padding: 0;
	

}

nav{
	padding-left: 5vw;
	padding-bottom: 1vh;
	height: 2vh;
	
}

nav img{
	float: left;
	height: 150px;
	width: 130px;

}

section.info{
	padding: 0;
	
}

section.info div.menus{
	text-align: center;
	padding-left: 20vh;
}

li{
	display: inline;
	padding-left: 15px;
}

li a{
	text-align: center;
	text-decoration: none;
	background-color: rgb(255,140,0);
	color: rgb(255,255,255);
	font-size: 15px;
	padding: 10px;
	text-shadow:3px 3px 5px gray;
	border-radius: 40px;
}

li a:hover:not(.active) {
	background-color: rgb(0,0,255);
    color: rgb(255,255,255);
	
}


section.superior-banner div.superior{
	margin-top: 15vh;

}

section.superior-banner div.imagem-superior{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 50vh;
	margin-right: 50vh;
	
	
}

section.text{
	display: flex;

}

section.text div.imagem-main{
	margin-top: 10vh;
	margin-left: 20vh;
	
}

section.text div.texto-geral{
	float:right;
	padding: 10vh;
    max-width:500px;
    margin-right: 20vh;
}
section.text div.texto-geral h3{
	font-size: 30px;
}
section.text div.texto-geral p{
	font-size: 20px;
}

div.rodape{
	display: flex;
	background-color:rgb(255,140,0);
	padding: 10px;
	max-height: 200px;
}

div.rodape-main{
	padding: 10px;
	margin-top: 10px;
	margin-left: 20px;
	min-width: 30%;
	max-width: 20%;
}

div.rodape-main h3{
	text-align: center;
	color: rgb(255,255,255);
}

div.rodape-main #foto{
	float: right;
	align-items: right;
	justify-content: right;
	
}