body{
	margin: 0;
	padding: 0;
	

}

nav{
	padding-left: 5vw;
	padding-bottom: 1vh;
	height: 2vh;
	
}

nav img{
	float: left;
	height: 150px;
	width: 130px;

}

section.info{
	padding: 0;
	
}

section.info div.menus{
	text-align: center;
	padding-left: 20vh;
}

li{
	display: inline;
	padding-left: 15px;
}

li a{
	text-align: center;
	text-decoration: none;
	background-color: rgb(255,140,0);
	color: rgb(255,255,255);
	font-size: 15px;
	padding: 10px;
	text-shadow:3px 3px 5px gray;
	border-radius: 40px;
}

li a:hover:not(.active) {
	background-color: rgb(0,0,255);
    color: rgb(255,255,255);
	
}


section.superior-banner div.superior{
	margin-top: 15vh;

}

section.superior-banner div.imagem-superior{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 50vh;
	margin-right: 50vh;

}


.sobre{
	margin:  20vh;
	margin-top: 20vh;
	margin-left: 10vh;
	margin-right: 10vh;
	margin-bottom: 20vh;
}
.conteudo{
	display: table;
}

.destaquesobre{
	float: left;
}
.destaquesobre img{
	height: 400px;
	margin-right: 4vh;
}

.textosobre h3{
	margin-top: 6vh;
	font-size: 25px;
	
}

.textosobre p {
	font-size: 20px;
}

fieldset{
	background-color: rgb(255,235,205);
	border: 0;
	border-radius: 10px;
	margin-left: 60vh;
	margin-right: 60vh;
	font-size: 20px;

}

.informacoes{
	margin-bottom: 2vh;
	
	
}

.duvidas{
	margin-bottom: 2vh;
	
}
#nome, #email{
	height: 30px;
}
#duvida{
	height: 160px;
}
.footer.footer{
	background-color: rgb(255,140,0);
	position: relative;
}

.fale-conosco a{
	text-decoration: none;
}

.contato{
	margin-left: 30px;
	
}

.footer.footer .container{
	display: flex;
	
}

.footer.footer .container > div{
	flex-grow: 1;
	flex-basis: 0;
	padding: 2vh 0.9vh;
}

.footer h2{
	color: rgb(255,255,255);
}

.footer p{
	color: rgb(255,255,255);
	font-size: 20px;
}

.footer .sobre-nos{
	margin-left: 30px;
}

