@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Josefin+Sans:wght@200&family=Kanit:wght@200&family=Roboto&display=swap');

body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background-image: url('../img/fundo.jpg');
	background-size: cover;
}

nav{
	padding-left: 10vw;
	padding-top: 1vh;
	padding-bottom: 1vh;
	height: 7vh;
	background-color: #783c00;
}

nav input{
	margin-top: 1vh;
	padding-top: 1vh;
	padding-left: 4vw;
	padding-right: 10vw;
	padding-bottom: 1vh;
	border-radius: 25px;
	background-color: #F8F8FF;
	color: #783c00;
	font-weight: 700;
	width: 25vw;
	letter-spacing: 5px;
}

#lupa{
	position: fixed;
	margin-top: 2.3vh;
	margin-left: 1.5vw;
}

#headphone{
	float: right;
	color: white;
	font-size: 25px;
	margin-top: 1.2vh;
	margin-right: 2vw;
}

nav img{
	float: right;
	height: 50px;
	width: 50px;
	margin-top: 1.2hw;
	margin-right: 2vw;

}

nav span{
	color: white;
	text-transform: uppercase;
	float: right;
	margin-top: 2.1vh;
	margin-left: 1.5vw;
	margin-right: 3vw;
	font-weight: 700;
	letter-spacing: 5px;
}

section.info{
	display: flex;
	margin-top: 0.5vh;
	border-top: solid 10px #783c00;
	border-bottom: solid 30px #783c00;
	padding-left: 2vw;
	padding-right: 2vw;
}

section.info div.endereco{
	max-width: 32vw;
	min-width: 32vw;
	display: flex;
	margin-right: 20px;
	justify-content: space-between;
}

section.info div.endereco p{
	color: #783c00;
	text-align: center;
}

section.info div.texto-endereco{
	padding-top: 7vh;
	padding-bottom: 1vh;
	
}

section.info div.texto-endereco p{
	margin-top: -35px;
	font-weight: 700;
	font-size: 28px;
}

section.info div.barra-lateral{
	float: right;
	width: 0.5vw;
	background-color: #783c00;
	border-radius: 5px;
	transform: rotate(15deg);
}

section.info div.horario{
	max-width: 32vw;
	min-width: 32vw;
	display: flex;
	justify-content: space-between;
}

section.info div.horario h2{
	font-weight: 700;
	font-size: 30px;
	color: #783c00;
	text-align: center;
	margin-bottom: 3px;
	margin-left: 70px;
}

section.info div.horario p{
	font-weight: 700;
	font-size: 23px;
	color: #783c00;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 60px;
}

section.info div.redes{
	max-width: 32vw;
	min-width: 32vw;
	display: flex;
	justify-content: space-between;
}

section.info div.redes div.texto-redes{
	font-weight: 700;
	font-size: 23px;
	color: #783c00;
	margin-left: 60px;
	font-weight: 700;
}

section.info div.img-redes{
	text-align: center;
}

section.info div.img-redes img{
	margin-left: 1vw;
}

section.info div.img-redes-qr{
	margin-top: 2vh;

}

section.info div.img-redes-qr img{
	width: 200px;
	height: 200px;
}

section.menu{
	display: flex;
	justify-content: space-between;
	padding: 1vh 3vw;
	border-bottom: solid 10px #783c00;
	border-top: solid 10px #783c00;
	background-color: rgba(255, 128, 0, 0.4);
}

section.menu div.barra-lateral{
	float: right;
	width: 0.5vw;
	background-color: #783c00;
	border-radius: 5px;
	transform: rotate(15deg);
}

section.menu div.item-menu{
	text-align: center;
}

section.menu div.item-menu i{
	font-size: 40px;
	color: #783c00;
	text-align: center;
	transform: rotate(-30deg);
}

section.menu div.texto-menu p{
	font-size: 20px;
	font-weight: 700;
	color: #783c00;
	text-align: center;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 0px;
}
section.menu div.item-menu:hover{
	background-color: #783c00;
	cursor: pointer;
}

section.menu div.item-menu:hover p{
	color: white;
}

section.menu div.item-menu:hover i{
	color: white;
}