body{
	margin: 0;
	padding: 0;
	background-image: url('../img/novo.png');
	background-size: cover;
}

nav{
	padding-left: 10vw;
	padding-top: 1vh;
	padding-bottom: 1vh;
	height: 6vh;
	background-color: rgb(255,69,0);
	
}

nav input{
     margin-top: 1vh;
	 padding-top: 1vh;
	 padding-left: 10vw;
	 padding-right: 10vw;
	 padding-bottom: 1vh;
	 border-radius: 20px;
	 background-color: rgb(255,255,240);
	 color: rgb(0,0,0);
	 font-weight: 700;
	 
}

#lupa{
	position: fixed;
	margin-top: 2.5vh;
	margin-left: 1.5vh;
}

#headfone{
	float: right;
	color: rgb(255,255,255);
	margin-top: 2vh;
	margin-right: 2vw;
}

nav img{
	float: right;
	height: 40px;
	width: 40px;
	margin-top: 1vh;
	margin-right: 1vw;
}

nav span{
	color: rgb(255,255,255);
	float: right;
	text-transform: uppercase;
	margin-top: 2vh;
	margin-right: 0;
	font-family: 'Arial';
	font-weight: 700;
}

section.info{
	display: flex;
	margin-top: 1vh;
	border-top: solid 4px rgb(255,69,0);
	border-bottom: solid 10px rgb(255,69,0);
	padding-left: 2vh;
	padding-right: 2vh;
	
}

section.info div.endereco{
	width: 32vw;
	display: flex;
	border-right: solid 7px rgb(255,69,0);
}

section.info div.endereco p{
	color: rgb(0,0,0);
	text-align: center;
}

section.info div.texto-endereco{
	padding-top: 0;
	padding-left: 2vh;
	margin-bottom: 1vh;
}
section.info div.texto-endereco p{
	margin-bottom: -15px;
	font-weight: 700;
}