@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body{
	font-family: 'Merriweather', serif;
	background-color: DarkRed;
	color: Snow;	
	margin-left: 20%;
	margin-right: 20%;
}

img{
	margin-top: 15px;
	margin-bottom: 15px;
	border: solid 5px white;
	border-radius: 10px;
	max-width: 50%;
	
}

p{
	text-indent: 50px;
}